/* .wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.logo > img {
  height: 200px;
  width: 200px;
}
.quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
