body {
  height: 100vh;

}

/* .quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
.logo-nav {
  height: 40px;
  width: 40px;
}

.container-fluid-1 {
  height: 100vh;
  /* border: 2px solid red; */
  background: linear-gradient(rgb(86 62 216), rgb(42 108 51));
}

.container-fluid-1 img {
  height: 300px;
  width: 300px;
}

.btn {
  width: 7em;
}

.back {
  position: relative;
  top: 0px;
  left: 0px;
}